/* Positions

    position: static ( padrao)- Nao aceita valores de top, botton,right ou left.
    position: fixed - fixa o elemento na tela
    position: sticky - age como um adesivo, fixa o elemento so onde eu determinar
    position: relative - posicao relativa a posicao inicial dele
    position: absolute - posicao absoluta (fixa)a algum elemento ou a pagina
                    - Se nao tiver pai/ pai for statick = posiciona referente a pagina
                    - Se o pai nao for static = positiona referente ao pai      */
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad{
    height: 350px;
    width: 350px;
    background-color: darkmagenta;
}

.div-son{
    height: 150px;
    width: 150px;
    background-color: yellow;
}

.div-2{
    background: red;
    width: 100px;
    height: 100px;
}