/* OBRIGATORIO ctrl e barra para ativar comentarios 

o ASTERISCO SELECIONA TODOS OS ELEMENTOS {
    background: pink;
}

/* Metodo 2 
#titulo{
    color: red;
    font-size: 55px;
}

#paragrafo{
    color: white;
    font-size: 30px;
    background-color: black;
}

#button{
    background-color: brown;
    font-size: 20px;
    border-bottom: red;
}

#button-1{
    background-color: blue;
    font-size: 20px;
    border-style: rgb(235, 87, 111);
} */


/* Metodo 3

.texto{
    color: red;
    font-weight: bold;
}

.botao{
    background: green;
}

    .texto,
.botao,
p {
    color: rgb(0, 0, 0);
    color: #b30505;
}


UNIDADES DE MEDIDAS NO CSS

    -ABSOLUTAS

    px (pixels) - MAIS USADA QUASE 100%
    

    Relativas
    % calcula o tamanho relativo ao elemento pai 
    vw ( view widht) 1 vw é 1% da largura do janela do navegador
    vh ( view height) 1 vh é 1% da altura da janela do navegador
    em é uma unidade relativa ao elemento pai
    rem é uma unidade relativa ao elemento raiz

    */

/* h1{
    color: #1a0566;
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 10px 10px 20px black;
}

p{
    font-weight: lighter;
    color: red; 
    font-size: 30px;
    font-weight: 100;
    font-family: "Montserrat", sans-serif;
    font-style: oblique;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 30px;
    text-align: center; 
    text-transform: capitalize;
    text-decoration: underline ;
    
} */

/* .box {
    width: 50px;
    height: 50px;
    background: red; */
    /* padding: 50px; aumenta a caixa interno */
     /* margin: 10px; é a margem espacamento externo */
    /* margin-top: 20px; */
    /* margem acima */
    /* margin-bottom: 20px; */
    /* padding tambem tem essas opcoes*/
    /* margin-left: 50px; */
    /* margin-right: 15px; */
    /* margin: 20px 50px 30px 5px; */
    /* top, right, bottom, left - padding tem a mesma opcao*/
/* } */

/* .box2{
    width: 50px;
    height: 50px;
    background: blue;
    /* margin: 30px; é a margem espacamento externo
} */

/* *{
    box-sizing: border-box;
}
.box {

    width: 100px;
    height: 100px;
    background: rgb(255, 0, 200);
    padding: 20px;
    border: 10px solid green;
}    */